body {
	background-color: #000;
	font-family: Verdana, sans-serif;
	text-align: center;
}

header, main {
	margin-bottom: 25px;
}

h1 {
	color: #FFF;
	font-size: 50px;
	font-weight: 400;
	margin-bottom: 35px;
}

h2 {
	color: #FFF;
	font-size: 42px;
	font-weight: 300;
}

h5 {
	color: #808080;
	font-size: 21px;
	font-weight: 300;
	text-align: right;
}

p {
	color: #808080;
	font-size: 21px;
}

a {
	color: #7FFFD4;
	font-size: 16px;
}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

img[src="resources/images/camp.jpg"] {
	padding-bottom: 25px;
}
